@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}


<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Member Id: @Model.NvkMemberId</p>
    <p>Member Username: @Model.NvkUserName</p>
    <p>Member Password: @Model.NvkPassword</p>
    <p>Member Fullname: @Model.NvkFullname</p>
    <p>Member Email: @Model.NvkEmail</p>
</div>
